<!DOCTYPE html>
<html>
<head>
    <title>IMU data</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script>
        $(document).ready(function(){
            var socket = io.connect()
            console.log('connected')
            socket.on('value', function(data){
                // console.log(data.value)
                document.getElementById("data").innerHTML = JSON.stringify(data.value, undefined, 2)
            })
        })
    </script>
</head>
<body>
    <div>
        IMU Data Stream
    </div>
    <pre id="data"></pre>
</body>
</html>